<html xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="js">

    <!-- Bootstrap core JavaScript-->
    <!-- plugins:js -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script th:src="@{/vendors/chart.js/Chart.min.js}"></script>
    <script th:src="@{/datatable/jquery-3.7.0.js}"></script>
    <script th:src="@{/datatable/jquery.dataTables.min.js}"></script>
    <script th:src="@{/datatable/dataTables.bootstrap4.min.js}"></script>
    <script th:src="@{/js/dataTables.select.min.js}"></script>
    <script th:src="@{/vendors/typeahead.js/typeahead.bundle.min.js}"></script>
    <script th:src="@{/vendors/select2/select2.min.js}"></script>

    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/hoverable-collapse.js}"></script>
    <script th:src="@{/js/template.js}"></script>
    <script th:src="@{/js/settings.js}"></script>
    <script th:src="@{/js/todolist.js}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script th:src="@{/js/dashboard.js}"></script>
    <script th:src="@{/js/Chart.roundedBarCharts.js}"></script>
    <script th:src="@{/js/select2.js}"></script>
    <script th:src="@{/js/typeahead.js}"></script>
    <script th:src="@{/js/file-upload.js}"></script>

    <script th:src="@{/datatable/scripting.js}"></script>
    <script th:src="@{/datatable/saving.js}"></script>

    <script th:src="@{/sweetalert2/sweetalert2.all.js}"></script>
    <script th:src="@{/sweetalert2/sweetalert2.js}"></script>

    <!-- End custom js for this page-->


</th:block>

</html>