<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">

  <head>
    <th:block th:replace="fragments/_head.html::head"></th:block>
  </head>

<body>

<header>
  <th:block th:replace="fragments/_header.html::header"></th:block>
</header>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
  <th:block th:replace="fragments/_navNotes.html::navNotes"></th:block>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      <div class="theme-setting-wrapper">
        <div id="settings-trigger"><i class="ti-settings"></i></div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close ti-close"></i>
          <p class="settings-heading">SIDEBAR SKINS</p>
          <div class="sidebar-bg-options selected" id="sidebar-light-theme"><div class="img-ss rounded-circle bg-light border mr-3"></div>Light</div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme"><div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark</div>
          <p class="settings-heading mt-2">HEADER SKINS</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default"></div>
          </div>
        </div>
      </div>
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      <!-- navNotes-->
      <!--fin navNotes-->

      <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
              
                <div class="col-md-10 stretch-card grid-margin" >
                  
                    <div class="card">
                      <div class="card-body">
                        <h4 class="app">Mon Parcours Académique</h4>
                        <div class="table-responsive">
                            <table id="table_id" class="table">
                              <thead>
                                <tr>
                                  <th >Niveau</th>
                                  <th>Année Académique</th>
                                  <th>crédit validé</th>
                                  <th>crédit maquant</th>
                                  <th>Moyenne</th>
                                  <th>linda</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td >Licence 1</td>
                                  <td>2021-2022</td>
                                  <td>60</td>
                                  <td>0</td>
                                  <td>12,92</td>
                                </tr>
                                <tr>
                                    <td>Licence 2</td>
                                    <td>2021-2022</td>
                                    <td>30</td>
                                    <td>30</td>
                                    <td>12,92</td>
                                </tr>
                              </tbody>
                            </table>
                        </div>           
                      </div>
                    </div>
                  </div>
            </div>
            </div>
        <!-- content-wrapper ends -->
         <!-- Modal for modalnotes  -->
        <th:block th:replace="fragments/_modalsNotes.html::modalsNotes"></th:block>
  <!-- End Modal for modalnotes  -->

        <!-- partial:partials/_footer.html -->
        <footer id="footer" class="footer">
          <th:block th:replace="fragments/_footer.html::footer"></th:block>
        </footer><!-- End Footer -->
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <th:block th:replace="fragments/_js.html::js"></th:block>

  <!-- End custom js for this page-->
</body>

</html>

