<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>USJ-ENT</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="../../vendors/feather/feather.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link href="../../vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../vendors/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../vendors/datatables.net-bs4/dataTables.bootstrap4.css">
    <link rel="stylesheet" href="../../vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="../../js/select.dataTables.min.css">
    <link rel="stylesheet" href="../../vendors/select2/select2.min.css">
    <link rel="stylesheet" href="../../vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
    <!-- End plugin css for this page -->
    
    <!-- inject:css -->
    <link rel="stylesheet" href="../../css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="../../images/logo_isj.png" />
</head>

<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" href="../Accueil.html"><img src="../../images/logo_isj.png"
                        class="mr-2" alt="logo" /></a>
                <!--<a class="navbar-brand brand-logo-mini" href="gestionNote.html"><img src="images/logo-mini.svg" alt="logo"/></a>-->
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <ul class="navbar-nav mr-lg-2">
                    <li class="nav-item nav-search d-none d-lg-block">
                        <div class="input-group">
                            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
                                <span class="input-group-text" id="search">
                                    <i class="icon-search"></i>
                                </span>
                            </div>
                            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now"
                                aria-label="search" aria-describedby="search">
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item dropdown">
                        <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                            data-toggle="dropdown">
                            <i class="icon-bell mx-0"></i>
                            <span class="count"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list"
                            aria-labelledby="notificationDropdown">
                            <p class="mb-0 font-weight-normal float-left dropdown-header">Notifications</p>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-success">
                                        <i class="ti-info-alt mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Application Error</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Just now
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-warning">
                                        <i class="ti-settings mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">Settings</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        Private message
                                    </p>
                                </div>
                            </a>
                            <a class="dropdown-item preview-item">
                                <div class="preview-thumbnail">
                                    <div class="preview-icon bg-info">
                                        <i class="ti-user mx-0"></i>
                                    </div>
                                </div>
                                <div class="preview-item-content">
                                    <h6 class="preview-subject font-weight-normal">New user registration</h6>
                                    <p class="font-weight-light small-text mb-0 text-muted">
                                        2 days ago
                                    </p>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <img src="../../images/faces/face28.jpg" alt="profile" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item">
                                <i class="ti-settings text-primary"></i>
                                Settings
                            </a>
                            <a class="dropdown-item">
                                <i class="ti-power-off text-primary"></i>
                                Logout
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            <div class="theme-setting-wrapper">
                <div id="settings-trigger"><i class="ti-settings"></i></div>
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close ti-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border mr-3"></div>Light
                    </div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border mr-3"></div>Dark
                    </div>
                    <p class="settings-heading mt-2">HEADER SKINS</p>
                    <div class="color-tiles mx-0 px-4">
                        <div class="tiles success"></div>
                        <div class="tiles warning"></div>
                        <div class="tiles danger"></div>
                        <div class="tiles info"></div>
                        <div class="tiles dark"></div>
                        <div class="tiles default"></div>
                    </div>
                </div>
            </div>
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="../Accueil.html">
                            <i class="bi bi-arrow-left-circle-fill menu-icon "></i>
                          <span class="menu-title">Retour à l'ENT</span>
                        </a>
                      </li>
                    <li class="nav-item">
                        <a class="nav-link" href="gesDoc.html">
                            <i class="icon-grid menu-icon"></i>
                            <span class="menu-title">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#docu" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-file menu-icon"></i>
                            <span class="menu-title">Ouvrages</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="docu">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="ListeOuvre.html">Liste des Ouvrages </a>
                                </li>
                                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal"
                                        data-target="#requete">Faire un Emprunt</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#mate" aria-expanded="false"
                            aria-controls="ui-basic">
                            <i class="icon-archive menu-icon"></i>
                            <span class="menu-title">Matériels</span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="collapse" id="mate">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a class="nav-link" href="LImateriel.html">Liste des Matériels
                                    </a></li>
                                <li class="nav-item"> <a class="nav-link" href="#" data-toggle="modal"
                                        data-target="#emprunt">Faire un Emprunt</a></li>

                            </ul>
                        </div>
                    </li>


                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    <div class="row">
                        
                        <div class="col-md-10 stretch-card grid-margin"  >
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="app">Liste des ouvrages</h4>
                                    <div class="table-responsive">
                                        <table id="table_id" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Nom de l'ouvrage</th>
                                                    <th>Auteur</th>
                                                    <th>Année publication</th>
                                                    <th>status</th>
                                                    <th>Détails</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Pyhsics compu</td>
                                                    <td>Temgoau sephora</td>
                                                    <td>2011</td>
                                                    <td><label class="badge badge-danger">Emprunter</label></td>
                                                    <td>
                                                        <div class="icon d-flex gap-lg-2 ">
                                                            <div>
                                                                <button type="button" class="btn btn-primary btn-rounded btn-icon btn-lg " onclick="window.location.href = '../gestDocuments/deatailsDoc.html';" >
                                                                    <i class="icon-circle-plus" ></i>
                                                                </button>
                                                            </div>
                                                          </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Pyhsics compu</td>
                                                    <td>Temgoau sephora</td>
                                                    <td>2010</td>
                                                    <td><label class="badge badge-success">Disponible</label></td>
                                                    <td>
                                                        <div class="icon d-flex gap-lg-2 ">
                                                            <div>
                                                                <button type="button" class="btn btn-primary btn-rounded btn-icon btn-lg " onclick="window.location.href = '../gestDocuments/deatailsDoc.html';" >
                                                                    <i class="icon-circle-plus" ></i>
                                                                </button>
                                                            </div>
                                                          </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        
                    </div>
                </div>
                    <!-- content-wrapper ends -->
                    <!-- Modal for emprunt  -->
                    <div class="modal fade" id="requete" tabindex="-1" aria-labelledby="requeteModal"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Emprunter un ouvrage</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" class="row justify-content-center gap-3">
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer votre nom &
                                                prénom</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer votre nom & prénom" class="form-control" />
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer votre matricule</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer votre matricule" class="form-control" />
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="class" class="form-label">Sélectionner la classe</label>
                                            <select name="class" id="class" class="form-select">
                                                <option value="">INGE 1 - Tronc commun</option>
                                                <option value="">INGE 2 - Tronc commun</option>
                                                <option value="">INGE 3 ISI</option>
                                                <option value="">INGE 3 SRT</option>
                                                <option value="">INGE 4 ISI</option>
                                                <option value="">INGE 4 SRT</option>
                                                <option value="">INGE 5 ISI</option>
                                                <option value="">INGE 5 SRT</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer le nom de
                                                l'ouvrage</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer le nom de l'ouvrage" class="form-control" />
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer la durée de
                                                l'emprunt</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer  la durée de l'emprunt" class="form-control" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                                    <input type="submit" class="btn btn-primary" value="Envoyer">
                                </div>
                            </div>
                        </div>
                    </div><!-- End Modal for emprunt  -->

                    <!-- Modal for Mate  -->
                    <div class="modal fade" id="emprunt" tabindex="-1" aria-labelledby="emprunt" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-title">Emprunter du matériel </h5>
                                    <button type="button" class="btn-close" data-dismiss="modal"
                                        aria-label="close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action="" class="row justify-content-center gap-3">
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer votre nom &
                                                prénom</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer votre nom & prénom" class="form-control" />
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer votre matricule</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer votre matricule" class="form-control" />
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="class" class="form-label">Sélectionner la classe</label>
                                            <select name="class" id="class" class="form-select">
                                                <option value="">INGE 1 - Tronc commun</option>
                                                <option value="">INGE 2 - Tronc commun</option>
                                                <option value="">INGE 3 ISI</option>
                                                <option value="">INGE 3 SRT</option>
                                                <option value="">INGE 4 ISI</option>
                                                <option value="">INGE 4 SRT</option>
                                                <option value="">INGE 5 ISI</option>
                                                <option value="">INGE 5 SRT</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Sélectionner l'année académique</label>
                                            <select name="year" id="year" class="form-select">
                                                <option value="">2022 - 2023</option>
                                                <option value="">2021 - 2022</option>
                                                <option value="">2020 - 2021</option>
                                                <option value="">2019 - 2020</option>
                                                <option value="">2018 - 2019</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer le nom du
                                                matériel</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer le nom du matériel" class="form-control" />
                                        </div>
                                        <div class="col-lg-12 row flex-column">
                                            <label for="year" class="form-label">Veuillez entrer la durée de
                                                l'emprunt</label>
                                            <input type="text" name="cursus" id="cursus"
                                                placeholder="Entrer   la durée de l'empruntt" class="form-control" />
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Fermer</button>
                                    <input type="submit" class="btn btn-primary" value="Envoyer">
                                </div>
                            </div>
                        </div>
                    </div><!-- End Modal for mate   -->


                    <!-- partial:partials/_footer.html -->
                    <footer class="footer">
                        <div class="d-sm-flex justify-content-center justify-content-sm-between">
                            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright ©
                                2021. </span>
                        </div>
                    </footer>
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <!-- plugins:js -->
        <script src="../../vendors/js/vendor.bundle.base.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page -->
        <script src="../../vendors/chart.js/Chart.min.js"></script>
        <script src="../../vendors/datatables.net/jquery.dataTables.js"></script>
        <script src="../../vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
        <script src="../../js/dataTables.select.min.js"></script>
        <script src="../../vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="../../vendors/select2/select2.min.js"></script>
        <!-- End plugin js for this page -->
        
        <!-- inject:js -->
        <script src="../../js/off-canvas.js"></script>
        <script src="../../js/hoverable-collapse.js"></script>
        <script src="../../js/template.js"></script>
        <script src="../../js/settings.js"></script>
        <script src="../../js/todolist.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="../../js/dashboard.js"></script>
        <script src="../../js/Chart.roundedBarCharts.js"></script>
        <script src="../../js/select2.js"></script>
        <script src="../../js/typeahead.js"></script>
        <script src="../../js/file-upload.js"></script>
        <!-- End custom js for this page-->
</body>

</html>