<html xmlns:th="http://www.thymeleaf.org" >

    <th:block th:fragment="head">

        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">

        <title>Banque d'actes </title>
        <meta content="" name="description">
        <meta content="" name="keywords">

        <!-- Favicons -->
        <link th:href="@{/assets/img/logo-onnuaroumnuarium.png}" rel="icon">
        <link th:href="@{/assets/img/logo-annuarium.png}" rel="apple-touch-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

        <!-- Vendor CSS Files -->
        <link th:href="@{/assets/vendor/aos/aos.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
        <link th:href="@{/assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

        <!--Boutons avec des icônes et du texte-->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous" />

        <!-- Animate -->
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/animate.css}">
        <!-- Main Style -->
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/main.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/registration.css}"/>
        <!-- Template Main CSS File -->
        <link th:href="@{/assets/css/style.css}" rel="stylesheet">

        <!-- =======================================================
          * Template Name: Bethany - v4.7.0
          * Template URL: https://bootstrapmade.com/bethany-free-onepage-bootstrap-theme/
          * Author: BootstrapMade.com
          * License: https://bootstrapmade.com/license/
          ======================================================== -->

    </th:block>

</html>