<html xmlns:th="http://www.thymeleaf.org" >

<th:block th:fragment="js">

    <!-- Vendor JS Files -->
    <script th:src="@{/assets/vendor/purecounter/purecounter.js}"></script>
    <script th:src="@{/assets/vendor/aos/aos.js}"></script>
    <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/vendor/glightbox/js/glightbox.min.js}"></script>
    <script th:src="@{/assets/vendor/isotope-layout/isotope.pkgd.min.js}"></script>
    <script th:src="@{/assets/vendor/swiper/swiper-bundle.min.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>


</th:block>

</html>